.cuerpo{
    background-image: url("src/assets/img/Diapositiva1.jpg");
}

.bg_login{
    margin: auto;
    width: 25%;
    background-color: rgb(225, 174, 174);
    padding: 20px;
    border-radius: 20px;
}

.imagen{
    margin: auto;
    width: 25%;
    padding: 20px;
    border-radius: 20px;
}
