.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 300px;
    border: 10px solid #f12424;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.dropzone.hovering {
    border: 10px dashed #f12424;
}

.inner-content {
    padding: 24px;
    background-color: #F7F7F7;
    min-height: 360px;
}