<!-- <div class="logo"></div> -->
<img class="logo" src="assets/img/logo_blanco2.png" width="{{imgSize}}">
<ul nz-menu [nzInlineCollapsed]="isCollapsed" nzTheme="dark" nzMode="inline">
  <li nz-menu-item routerLink="/dashboard">
    <i nz-icon nzType="dashboard" nzTheme="outline"></i>
    <span>Dashboard</span>
  </li>
  <li nz-menu-item routerLink="/analytics" *ngIf="user.admin">
    <i nz-icon nzType="area-chart" nzTheme="outline"></i>
    <span>Analytics</span>
  </li>
  <li nz-menu-item routerLink="/videogame" *ngIf="!user.admin">
    <i nz-icon nzType="desktop" nzTheme="outline"></i>
    <span>Videogame</span>
  </li>
  <li nz-menu-item routerLink="/deliverables" *ngIf="!user.admin">
    <i nz-icon nzType="file-add" nzTheme="outline"></i>
    <span>Deliverables</span>
  </li>
  <li nz-menu-item routerLink="/manager">
    <i nz-icon nzType="monitor" nzTheme="outline"></i>
    <span>Manager</span>
  </li>
  <li nz-menu-item routerLink="/help">
    <i nz-icon nzType="question" nzTheme="outline"></i>
    <span>Documentation TWI</span>
  </li>
  <li nz-menu-item (click)="logOut()">
    <i nz-icon nzType="logout" nzTheme="outline"></i>
    <span>Log Out</span>
  </li>
</ul>