<span *ngFor="let user of users; index as i">
    <small>{{user.user.name}} {{user.user.lastName1}}</small>
    <nz-progress [nzPercent]="percentages[i]" nzStrokeColor="rgb(195,31,57)"></nz-progress>
</span>
<!-- <small>Jim Green</small>
<nz-progress [nzPercent]="90" nzStatus="active"></nz-progress>
<small>Joe Black</small>
<nz-progress [nzPercent]="75" nzStatus="active"></nz-progress>
<small>Stuart Mackenzie</small>
<nz-progress [nzPercent]="50"></nz-progress>
<small>Jeff Holmes</small>
<nz-progress [nzPercent]="30" nzStrokeColor="red"></nz-progress>
<small>Sarah Lynn</small>
<nz-progress [nzPercent]="20" nzStrokeColor="red"></nz-progress>
<small>Thomas Payne</small>
<nz-progress [nzPercent]="10" nzStrokeColor="red"></nz-progress> -->