
    <small>John Brown</small>
    <nz-progress [nzPercent]="100" nzStatus="success"></nz-progress>
    <small>Jim Green</small>
    <nz-progress [nzPercent]="90" nzStatus="active"></nz-progress>
    <small>Joe Black</small>
    <nz-progress [nzPercent]="75" nzStatus="active"></nz-progress>
    <small>Stuart Mackenzie</small>
    <nz-progress [nzPercent]="50"></nz-progress>
    <small>Jeff Holmes</small>
    <nz-progress [nzPercent]="30" nzStrokeColor="red"></nz-progress>
    <small>Sarah Lynn</small>
    <nz-progress [nzPercent]="20" nzStrokeColor="red"></nz-progress>
    <small>Thomas Payne</small>
    <nz-progress [nzPercent]="10" nzStrokeColor="red"></nz-progress>